@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-gradient: radial-gradient(circle at 0% 0%, rgba(22,35,91,1) 20%, rgba(11,74,93,1) 60%, rgba(11,74,93,1) 84%, rgb(7, 50, 63) 100%);
  --bubble-pos-x: 0%;
  --bubble-pos-y: 0%;
}

:root.dark {
  --background-color: #020714;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  background: var(--bg-gradient);
  /* background-attachment: fixed; */
}

.project_details_bubble {
  /* background-color: var(--background-color); */
  background: var(--bg-gradient);
}




div#container {
  margin: 0 1rem;
  max-width: 1200px;
  display: grid;
  grid-template-areas: "nv mn";
  grid-template-columns: 22rem auto;
  min-height: 100vh;
  color:white;
  /* background-color: #0a234477; */
  /* background-image: radial-gradient(circle at bottom, rgba(23, 19, 95, 0.2) 20%, rgba(41, 14, 83, 0.2) 60%); */
}

@media screen and (max-width: 720px) {
  div#container {
    margin: 0;
    display: grid;
    grid-template-areas: "nv" "mn";
    grid-template-columns: auto;
    grid-template-rows: 1fr, 1fr;
  }
}

nav {
  grid-area: nv;
}

main {
  grid-area: mn;
}

.bubblegrow {
  animation: 3s linear 0s 1 forwards normal running bubblegrow;
}

.project_delayed_fadein {
  animation: 0.3s ease-in-out 0.3s 1 both normal running project_delayed_fadein;
}

.movingImg {
  transition: all 1s 0.3s cubic-bezier(0.45, 0, 0.3, 1);
  animation: 0.3s ease-in-out 0s 1 both normal running movingImgKeyframes;
}

/* clip-path: circle(8% at var(--bubble-pos-x) var(--bubble-pos-y)); */

@keyframes bubblegrow {
  0% {
    clip-path: circle(1% at var(--bubble-pos-x) var(--bubble-pos-y));
  }
  100% {
    clip-path: circle(100% at var(--bubble-pos-x) var(--bubble-pos-y));
  }
}

@keyframes project_delayed_fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes movingImgKeyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}