@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-gradient: radial-gradient(circle at 0% 0%, rgba(22,35,91,1) 20%, rgba(11,74,93,1) 60%, rgba(11,74,93,1) 84%, rgb(7, 50, 63) 100%);
  --bubble-pos-x: 0%;
  --bubble-pos-y: 0%;
}

/* :root.dark {
  --background-color: #020714;
} */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  background: var(--bg-gradient);
}

.project_details_bubble {
  /* background-color: rgba(10, 35, 68, 0.6); 6 21 40.8 */
  background: radial-gradient(circle at 0% 0%, rgba(14.8,35,77.2,1) 20%, rgba(10.4,50.6,78,1) 60%, rgba(10.4,50.6,78,1) 84%, rgba(8.8, 41, 66, 1) 100%);
  /* background: radial-gradient(circle at 0% 0%, rgba(22,35,91,1) 20%, rgba(11,74,93,1) 60%, rgba(11,74,93,1) 84%, rgb(7, 50, 63) 100%); */
}

div#container {
  margin: 0 1rem;
  max-width: 1200px;
  position: relative;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-areas: "nv mn";
  grid-template-columns: 22rem auto;
  min-height: 100vh;
  background-color: rgba(10, 35, 68, 0.6);
  /* background-image: radial-gradient(circle at bottom, rgba(23, 19, 95, 0.2) 20%, rgba(41, 14, 83, 0.2) 60%); */
}

/* div#container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 35, 68, 0.6);
  mask-image: url("./images/test-path.svg");
  mask-position: right;
  mask-repeat: repeat-y;
  mask-size: cover;
} */

/* nav {
  background-color: rgba(10, 35, 68, 0.6);
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 35, 68, 0.6);
  mask-image: url("./images/test-path.svg");
  mask-position: right;
  mask-repeat: repeat-y;
  mask-size: cover;
} */

@media screen and (max-height: 800px) {
  nav .navcontainer {
    position: static;
  }

  nav .title {
    scale: 0.8;
  } 
}

@media screen and (max-width: 1200px) {
  div#container {
    margin: 0;
    border: none;
    grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: 893px) {
  div#container {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 720px) {
  div#container {
    display: grid;
    grid-template-areas: "nv" "mn";
    grid-template-columns: auto;
    grid-template-rows: 1fr, 1fr;
  }
}

nav {
  grid-area: nv;
}

main {
  grid-area: mn;
}

.bubblegrow {
  animation: 0.5s linear 0s 1 forwards normal running bubblegrow;
}

.project_delayed_fadein {
  animation: 0.4s ease-in-out 0.6s 1 both normal running project_delayed_fadein;
}

.movingImg {
  transition: all 0.8s 0.2s cubic-bezier(0.45, 0, 0.3, 1);
  animation: 0.3s ease-in-out 0s 1 both normal running movingImgKeyframes;
}

@keyframes bubblegrow {
  0% {
    clip-path: circle(1% at var(--bubble-pos-x) var(--bubble-pos-y));
  }
  100% {
    clip-path: circle(100% at var(--bubble-pos-x) var(--bubble-pos-y));
  }
}

@keyframes project_delayed_fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes movingImgKeyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}